.title {
  font-size: 4vw;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(85, 183, 221);

}

.divider {
  margin: 10px;
  width: 100%;
  background-color: #fff;
}
span{
  color: rgb(9, 134, 250);
}
